{% extends 'Teachers_app/teachers_base.html' %}
{% block body_block %}
<div class="container-fluid pt-5">
    <h3>Course List</h3>
    <table class="table table-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Employ ID</th>
      <th scope="col">Department</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>

     {% for student in students_list %}
      <tr>
          <th scope="row">1</th>
{#          <td><a href="{% url 'Admin_panel:teacher_details' pk=student.pk %}">{{ student.username }}</a></td>#}
          <td><a href="">{{ student.username }}</a></td>
          <td>{{ student.first_name }}</td>
          <td>{{ student.email }}</td>

          <td>
              <a href=""><i class="fa fa-pencil"></i>  </a>
              <a href=""> <i class="fa fa-trash"></i></a>
          </td>

      </tr>
      {% endfor %}

  </tbody>
    </table>
</div>

{% endblock %}